#folders
./CaMa_in
./CaMa_out

#bin files
*.bin
*.one
*.hlf
*.qrt

#text files
*.txt

#fotran excutables
*/bin2nc
*/remove_trend
*/ifft90_sfcelv
*/standze_sfcelv
*/sfit_sfcelv
*/lpara_sfcelv
*/lparaMS_sfcelv

#.pyc files
*.pyc

#PBS oe files
CaMa_sim.o*
bin2nc.o*
EmpLP.o*

#figures
*.png
*.jpg

#temporary opened files
*.swp
*.swo
